body {
  background-image: url(background.jpg);
  font-family: 'Courier New', cursive;
  color: #563958;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vH;
}

.box{
  border-radius: 10px;
  text-align:center;
  height:54vh;
  width:350px;
  padding:45px;
  top:50%
  transform:translate(-50%, -50%);
  background: #f7e3e3;
  font-size: 13px;
  border: #020000
}

.btns{
  border-radius: 10px;
  background-color: #563958;
  color: white;
  border: 2px solid #563958;
  font-size: 17px;
  font-family: courier New
}

.inputstyle{
  width: 100%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 8px;
  font-family: courier New
}

.allInput{
  border-radius: 8px;
border: 2px solid #563958;
  font-family: 'Courier New', cursive;
  height: 14vh;
  width:300px;
  text-align:center



 }
.offset{
  height: 4vh;
  border-radius: 8px;
  border: 2px solid #563958;
  font-family: 'Courier New', cursive;
  text-align: center
}
.outputs{
  align-items: center
}
.ocultar {
  display:none
}
.footer {
  height:54vh;
  width:350px;
  padding:45px;
  top:50%

}
